/* los vinculos presentan varios estados dentro de los cuales tenemos:
link: el vinculo normal
visited: cuando le has sido visitado
hover: mouse esta sobre el vinculo
activate: le das click
*/
/* aplicamos colores a los estados del vinculo */
a.vinculo1:link {
  color: chartreuse;
}

a.vinculo1:visited {
  color: coral;
}

a.vinculo1:hover {
  color: darkmagenta;
}

a.vinculo1:active {
  color: darkturquoise;
}

/* quitamos las decoraciones del texto */

a.vinculo2:link {
  text-decoration: none;
}

a.vinculo2:visited {
  text-decoration: none;
}

a.vinculo2:hover {
  text-decoration: none;
}

a.vinculo2:active {
  text-decoration: none;
}

/* generamos un estilo para que el vinculo parezca un boton */
a.vinculo3:link,
vinculo:visited {
  background-color: green;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
}

a.vinculo3:hover,
vinculo:visited {
  background-color: red;
}

/* generamos un estilo para que el vinculo parezca un boton */
a.vinculo4:link,
vinculo:visited {
  background-color: royalblue;
  color: white;
  padding: 12px;
  text-align: center;
  border-radius: 10px;
}

a.vinculo4:hover,
vinculo:visited {
  background-color: black;
}
